.user-form {
  width: 100%;
  max-width: 320px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__input {
    margin-bottom: 16px;
  }

  &__button {
    margin-top: 20px;
  }
}
