.login-form {
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__input {
    margin-bottom: 20px;
  }

  &__button {
    margin-top: 15px;
  }
}
