.header-navigation {
  position: relative;

  &__dropdown {
    min-width: 140px;
    border-radius: 0 4px 4px 4px;
    left: 0;
  }

  &__menu {
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 3px;
  }

  &__menu-bar {
    width: 35px;
    height: 4px;
    border-radius: 2px;
    background-color: var(--color-white-soft);
    margin: 4px 0;
  }

  &__desktop-list {
    display: none;
  }

  &__link {
    font: 500 14px/1.3 var(--main-font);
    text-decoration: none;
  }

  &__link_mobile {
    width: 100%;
    color: var(--color-black-soft);
    padding-bottom: 8px;
  }

  &__link_desktop {
    & + & {
      margin-left: 14px;
    }
    color: var(--color-white-soft);

    transition: color 350ms;
    padding-bottom: 3px;
    border-bottom: solid 2px transparent;
    cursor: pointer;
    position: relative;
  }

  &__link_mobile.router-link-exact-active {
    color: var(--color-text-hovered);
  }

  &__link_desktop.router-link-exact-active {
    cursor: default;
    color: var(--color-text-hovered);
    border-bottom: solid 2px var(--color-text-hovered);
  }
}

@media screen and (min-width: 768px) {
  .header-navigation {
    &__desktop-list {
      display: flex;
    }

    &__menu,
    &__dropdown-list {
      display: none;
    }
  }
}

@media (hover: hover) {
  .header-navigation {
    &__link_desktop::after {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 0;
      height: 2px;
      background-color: var(--color-text-hovered);
      transition: width 300ms;
    }

    &__link_desktop:hover:not(.router-link-exact-active) {
      color: var(--color-text-hovered);
    }

    &__link_desktop:hover:not(.router-link-exact-active)::after {
      width: 100%;
    }
  }
}
