.arrow {
  padding: 1px;
  border: none;
  outline: none;
  background: none;
  font-size: 13px;
  color: var(--color-text);
  transition: color 300ms;

  &_active {
    color: var(--color-info);
  }

  &_disabled {
    pointer-events: none;
    opacity: 0.2;
  }
}

@media (hover: hover) {
  .arrow:hover {
    cursor: pointer;
    color: var(--color-info);
  }
}
