.user-page {
  display: flex;
  flex-direction: column;
  padding: 22px;

  &__title {
    font: 700 18px/1.6 var(--main-font);
  }

  &__data-list {
    padding: 10px 10px 28px;
    font: 400 16px/1.2 var(--main-font);
    list-style: inside;
  }

  &__data-item {
    & + & {
      margin-top: 12px;
    }
  }

  &__data-text {
    padding: 10px 0 0 22px;
    font-weight: 500;
  }

  &__message {
    padding: 12px 0;
    font: 400 16px/1.2 var(--main-font);
  }

  &__button {
    width: fit-content;
    padding: 8px 22px;
    margin-top: 20px;
  }
}
