@import '@/assets/fonts/font.css';

:root {
  --color-white: #ffffff;
  --color-white-soft: #f8f8f8ef;

  --color-black: #181818;
  --color-black-soft: #222222;
  --color-light-grey: #f3f3f3;
  --color-dark-grey: #d4d4d4;
  --color-success: #00b606;
  --color-danger: #ff3232;

  --color-background: #f8f8f8b4;
  --color-background-secondary: #72c1c5;

  --color-text: var(--color-black-soft);
  --color-text-hovered: #0000006e;

  --main-font: 'Roboto', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-black-soft);
    --color-text: var(--color-white-soft);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}

body {
  color: var(--color-text);
  background: var(--color-background);
  transition: color 400ms, background-color 400ms;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
