@import '@/assets/fonts/font.css';

:root {
  --color-white: #ffffff;
  --color-white-soft: #f8f8f8;
  --color-white-mute: #f2f2f2;

  --color-black: #181818;
  --color-black-soft: #222222;
  --color-black-mute: #282828;

  --color-background: var(--color-white-mute);
  --color-text: var(--color-black-soft);
  --color-text-hovered: #0000007c;

  --main-font: 'Roboto', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-black-mute);
    --color-text: var(--color-white-soft);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 400ms, background-color 400ms;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
